.fullpost {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.postdetails{
    display: flex;
    flex-flow:  row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid black;
    
}
.postimage{
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    /* margin: 0 10%; */
    border: 1px solid blue;

}
.postimage img {
    display: flex;
    width: 100%;
    height: 100%;
}
.highlights{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid grey;
    padding: 1rem;
    margin: 1rem 0;
}
.items{
    display: flex;
   
  
}
@media (max-width: 499px) {
    .items{
        width: 100%!important;
       
      
    }
}
@media (max-width: 800px) {
    .items{
        width: 50%;
       
      
    }
}